@page
@model Mission9_awinder7.Pages.CompletedModel
@{
}

<div class="text-center">
    <h2> Thanks! Your order has been taken.</h2>
    <a class="btn btn-success" asp-controller="Home">Return Home</a>
</div>